<% include ../partials/header %>

<header>
  <a href="/"><i class="fas fa-chevron-left"></i></a>
  <h2>Mirabeau Smart Office</h2>
</header>

<main>
  <h3>Kamer met  het minste <%= filterValue %>:</h3>
  <article>
    <header>
      <h2><%= data[0].room_name %></h2>
      <% if (data[0].measurements.occupancy === true) { %>
        <i class="fas fa-circle fa-circle-red"></i>
        <p>Bezet</p>
      <% } else { %>
        <i class="fas fa-circle fa-circle-green"></i>
        <p>Beschikbaar</p>
      <% } %>
    </header>
    <% if (filterValue === 'geluid') { %>
      <p><i class="fas fa-volume-up"></i> <%= data[0].measurements.mic_level %> dB</p>
    <% } else { %>
      <p><i class="fas fa-lightbulb fa-lightbulb-green"></i> Weinig licht</p>
    <% } %>
  </article>
</main>

<% include ../partials/footer %>
