<% include ../partials/header %>

<main>
  <% data.forEach(room => { %>
    <article>
      <header>
        <h2><%= room.room_name %></h2>
        <% if (room.measurements.occupancy === true) { %>
          <i class="fas fa-circle fa-circle-red"></i>
        <% } else { %>
          <i class="fas fa-circle fa-circle-green"></i>
        <% } %>
      </header>
      <p><i class="fas fa-volume-up"></i> <%= room.measurements.mic_level %></p>
      <p><i class="fas fa-sun"></i> <%= room.measurements.ambient_light %></p>
    </article>
  <% }) %>
</main>

<% include ../partials/footer %>
